.App {
  background-color: rgb(88, 168, 173);
}

.App-header {
display: block;
  width: 100%;
  height: auto;
  position: relative;
 
  overflow: hidden;
  padding: 35.37% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */

}


.App-logo {
  display: block;
  max-width: 75%;
  max-height: 85%;
  position: absolute;
  border-style: solid;
  border-width: 2px 5px 5px 5px;
  top: 1em;
  bottom: 0;
  left: 1em;
  right: 0;
   
}

.App-logo2 {
  display: block;
  max-width: 76%;
  max-height: 45%;
  position: absolute;
  top: 4em;
  bottom: 1em;
  border-style: solid;
  border-width: 2px 5px 5px 5px;
  right: 1em;
  transform: rotate(90deg)
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;



}



.App-link {
  color: #61dafb;
}


